.btn{
     background-color: #fff;
    border: 1px solid #000;
    transition: box-shadow 400ms ease-in-out;
}
.dlt {
    height: 30px;
    width: 70px;
    margin-left: auto;  
}

.dlt:hover {
    box-shadow: -1px 1px 10px 7px rgba(247, 150, 150, 0.75);
}


.sbmt {
   width: 150px;
}

.sbmt:hover {
    box-shadow: -1px 1px 10px 7px rgba(188, 254, 166, 0.75);
}